/* CSS Document */

html, body, #map{
	height: 90vh;
	width: 90vw;
	font: 12px/14px Helvetica Neue, Helvetica, 'Arial', sans-serif;
}

p{
	 font-size: 9px;
		    line-height: 13px;
}

.infoHeader{
	color: dimgrey;
	font-size: 15px;
}

.dataBody{
	color: dimgrey;
	font-size: 12px;
}

.info { 
	padding: 6px 8px; 
	font: 10px/12px Ar, Helvetica, sans-serif;
	background: white; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 4px; 
} 

.info h4 { 
	margin: 0 0 5px; 
	color: #777; 
}

.legend { 
	text-align: left; 
	font-size: 9px;
} 

.legend i { 
	border-radius: 50%;
	width: 12px; 
	height: 12px; 
	float: left; 
	margin-right: 18px; 
	opacity: .8;
}

.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;
}
