/* CSS Document */

html, body, #map{
	position: centre;
	height: 92vh;
	width: 92vw;
	font: 9px/12px Arial, Helvetica, sans-serif;
}

.infoHeader{
	color: dimgrey;
	font-size: 15px;
}

.dataBody{
	color: dimgrey;
	font-size: 12px;
}

.info { 
	padding: 6px 8px; 
	font: 10px/12px Arial, Helvetica, sans-serif;
	background: white; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 4px; 
} 

.info h4 { 
	margin: 0 0 5px; 
	color: #777; 
}

.legend { 
	text-align: left; 
	line-height: 5vh; 
	color: #555; 
	font-size: 8px;
} 

.legend i { 
	width: 5vw; 
	height: 5vh; 
	float: left; 
	margin-right: 1vw; 
	opacity: 0.8;
}
